body{
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
/* Khusus Text Light */
#light{
    font-weight: lighter;
}
/* Khusus Text Bold */
#bold{
    font-weight: bolder;
}
/* Middle part */
.middle{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
/* Kumpulan Card */
#cardcoll{
    justify-content: center;
    align-items: center;
}

/* Form register */
    /* Bagian Card */
    #form{
        background-color: #71C9CE;
        border-color: #CBF1F5;
        border-radius: 20px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 25%;
        margin-bottom: 5%;
    }
    /* Judul Card */
    .cardtitle.row{
        margin-left: 0px;
    }
    /* Input Form */
    .inputform{
        padding-right: 20%;
    }
    /* PlaceHolder */
    .form-control{
        font-size: 12px;
    }
    /* Button */
    .btn.btn-primary.intabel{
        background-color: white;
        color: #008289;
        border-color: #CBF1F5;
        border-radius: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        
        font-size: 12px;
    }
    .btn.btn-primary.intabel:hover{
        opacity: 0.5;
    }
    /* nav-link */
    a.nav-link.already{
        padding-left: 5px !important;
        opacity: 0.5;
    }
    a.nav-link.already:hover{
        background-color: transparent;
        border-radius: 0px;
        opacity: 1;
    }
    /* p#message{
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    p#error_messages{
        font-size: 12px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    } */

/* Vektor Belajar */
    /* Ukuran Vektor */
    img#vectorbelajar{
        width: 424.2px;
        height: 481.2px;
    }
    /* Bagian Card */
    #gambar{
        background-color: transparent;
        border-color: transparent;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 25%;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }

    #gambar{
        text-align: center;
    }

    h3.welcome{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }
    h5.welcome{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: lighter;
    }
    .background{
        width: 1270px;
        height: 921.6px;
        margin-top: -700px;
    }
    #dont{
        margin-top: 25px;
        color: black;
        opacity: 0.5;
    }
    #dont:hover{
        opacity:1 ;
    }
@media only screen and (max-width: 990px) {
    #cardcoll{
        flex-direction: column;
    }

    #form{
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: -82px;
        margin-right: -82px;
    }

    #gambar{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: -82px;
        margin-right: -82px;
    }
    
}

@media only screen and (max-width: 576px) {
    #cardcoll{
        flex-direction: column;
    }

    #form{
        margin-left: 10%;
        margin-right: 10%;
    }

    #gambar{
        margin-left: 10%;
        margin-right: 10%;
    }
    
}