
nav.navbar{
    background-color: transparent !important; 
}
a.nav-link{
    color: black !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
    font-size: 15px;
    font-weight: lighter;
    padding-left: 31.8px !important;
    padding-right: 31.8px !important;
    padding-top: 12px;
}
a.nav-link:hover{
    background-color: #71C9CE;
    border-radius: 20px;
}

ul.navbar-nav{
    padding-left: 45% !important;
    margin-right: 5% !important;
    
}

#logo{
    width: 167.64px;
    height: 38.4px;
    align-items: center;
    justify-content: center;
    margin-left: 31.8px;
    margin-right: 10px;
  }

#contactus{
    background-color: #71C9CE;
}

.footercontent.row{
    text-align: left;
    font-size: 18px;
    width: 100%;
}

#logobesar{
    width: 75.6px;
    margin-left: 58.8px;
}

.tulisan{
    margin-top: 10px;
    margin-left: 24px;
}

h7{
    font-weight: lighter;
}

#fotoakun{
    width: 30px;
    height: 30px;
}

.foto.col{
    margin-top: 9px;
}

#namaUser{
    margin-top: 2px;
}

.dropdown.foto{
    text-align: center;
}

.dropdown.foto:hover{
    background-color: #71C9CE;
    border-radius: 20px;
}

.dropdown-menu.dropdown-menu-right{
    text-align: right;
}

@media only screen and (max-width: 990px) {
    ul.navbar-nav{
        margin-left: 0% !important;
    }
    .akun.row{
        padding-left: 45px;
    }
}
