{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    {%block style%}
    <link rel="stylesheet" href="{% static 'account/css/account.css' %}">
    {%endblock style%}
    <title> Register </title>
</head>

{%block content%}
<body>
    <section id="judul">
        <div class="container">
            <div class="profilesetting row border-bottom">
                <h6 id="light">Profile</h6>
                <h6 id="normal">Setting</h6>
            </div>
        </div>
    </section>

    <section id="middle">
        <div class="container">
            <div class="row">
                <div class="display col-4">
                    <img id="fotoakun2" src="{{user.profile.image.url}}" class="rounded-circle">
                    <div class="Nama col">
                        <h6 id="bold"> {{user.profile.jobs}} </h6>
                        <h6 id="light"> {{user.first_name}} {{user.last_name}}, {{user.profile.title}} </h6>
                    </div>
                    <form action="/account/profilesetting/" method="POST">
                        {%csrf_token%}
                        <div class="buttons col">
                            <h6 id="button1" class="btn btn-primary intabel">{{pictform}}</h6>
                            <button id="button11" class="btn btn-primary intabel" method="POST">Edit Picture</button>
                        </div>
                    </form>
                    <div class="aboutme col">
                        <div class="contact col">
                            <h6 id="light">{{user.profile.contact}}</h6>
                            <h6 id="light">{{user.email}}</h6>
                        </div>
                    </div>
                </div>

                <div class="change col-7 border-left">
                    <h5 class="change">ACCOUNT INFORMATION</h5>
                    <form action="/account/profilesetting/" method="POST">
                        
                        {%csrf_token%}
                        
                        <div class="formaccount col">
                            {%if form1%}
                                {%for f in form1%}
                                <h6 id="light" class="formlabel">{{f.label}}</h6>
                                <div class="formaccount row">
                                    <p class="form col"> {{f}} </p>
                                </div>
                            
                                    {%endfor%}
                            {%endif%}
                        

                            {%if form2%}
                                {%for f in form2%}
                            
                                <h6 id="light" class="formlabel">{{f.label}}</h6>                   
                                <div class="formaccount row">
                                    <p class="form col"> {{f}} </p>
                                </div>
                                {%endfor%}
                            {%endif%}
                        </div>

                        <div class="buttonsave col">
                            <button id="button2" class="btn btn-primary intabel" method="POST">Save</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

</body>
{%endblock content%}
</html>