{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'static/css/style.css' %}"> -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    {%block style%}
    <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
    <script type="text/javascript">
        $('#exampleModalCenter').on('shown.bs.modal', function () {
        $('#myInput').trigger('focus')
      })
    </script>
    {%endblock style%}
    <title> Register </title>
</head>

{% block content %}
<section id="jumbotron">
  <div class="row">
    <div class="col-sm-6">
      <div id="ask" class="card">
        <div class="card-body">
          <h1 class="ask"> Ask a <br> question! </h1>
          <p class="ask"> Braincil provides you with solutions </p>
          <div class="tombol row">
            <a href="#"> 
              <img id="buttonask" src="{% static 'main/img/buttonask.png' %}" alt="BraincilOnAction">
            </a> 
            {%if user.is_authenticated%}
                <button type="button" class="btn btn-primary intabel ask" id="ask-button" data-toggle="modal" data-target="#exampleModalCenter">
                  Ask
                </button>
                
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Ask a Question!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <form action="/" method="POST">
                        {%csrf_token%}
                        <div class="modal-body">
                          {{form}}
                        </div>
                        <div class="modal-footer">
                          <button type="submit" method="POST" class="btn btn-primary">Save changes</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
    
            {%else%}
              <a href="{% url 'account:register' %}">
                <button type="button" class="btn btn-primary intabel ask" id="ask-button">
                  Ask
                </button>
              </a>
            {%endif%}

          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div id=asetToga class="card">
        <div class="card-body">
          <img id="aset" src="{% static 'main/img/Aset.png' %}" alt="BraincilOnAction">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="offering">
  <img id="offering" src="{% static 'main/img/offering.png' %}" alt="BraincilOnAction">
</section>

<section id="aboutbraincil">
  <div class="about row">
    <img id="logobesar" src="{% static 'main/img/logobesar.png' %}" alt="BraincilOnAction">
    <p class="about"> Some of students are wondering about something but do not know a <br> place to ask and unfortunately they’ll never know if their questions <br> might change a thing in this world. Braincil has a mission to provide <br> useful website to help them, sincerely. Moreover during this hard <br> situations. Braincil is on Action, here are the solutions!</p>
  </div>
</section>
<section id="why">
  <div class="why row">
    <img id="why" src="{% static 'main/img/why.png' %}" alt="BraincilOnAction">
  </div>
</section>

<section id="said">
  <img id="said" src="{% static 'main/img/said.png' %}" alt="BraincilOnAction">
</section>
{%if user.is_authenticated%}
{%else%}
<section>
	<h1 style="text-align: center">Which One is Your Choice?</h1>
</section>

<section class="register-section">
	<a href="account/register">
		<button class="btn btn-primary" id="button-register">Register Now</button>
	</a>
</section>
{%endif%}
{% endblock content %}
