{% extends 'base.html' %}

{% load static %}

{% block page_title}
<title>DuDu Page</title>
{% endblock page_title}

{% block style %}
<link rel="stylesheet" href="{% static 'dudupage/css/dudupage.css' %}">
{% endblock style %}


{% block content %}

<div class="container-fluid">

    <div class="row">
        <br><br><br><br>
    </div>

    <div class="row">
        <div class="col-md"></div>
        <div class="col-md text-center text1">
            apakah kamu punya pesan untuk seseorang ?
        </div>
        <div class="col-md"></div>
    </div>

    <div class="row">
        <br><br><br>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center">
            <hr>
            <p class="text2">buat dudu kamu disini !</p>
            <hr>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <br><br><br>
    </div>

    <div class="row">
        <div class="col-md"></div>
        <div class="col-md">
            <div class="card c1">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group row align-items-center">
                        <div class="col-2 text3">
                            Dari :
                        </div>
                        <div class="col-10">
                            {{postdudu.dari}}
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <div class="col-2 text3">
                            Untuk:
                        </div>
                        <div class="col-10">
                            {{postdudu.untuk}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="text3">
                            Pesan :
                        </div>
                        {{postdudu.pesan}}
                    </div>
                    <button class="btn1" type="Submit">kirim</button>
                </form>
            </div>
        </div>
        <div class="col-md"></div>
    </div>

    <div class="row">
        <br><br><br><br><br><br>
    </div>

    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10 text-center">
            <hr>
        </div>
        <div class="col-sm-1"></div>
    </div>

    <div class="row">
        <br><br><br><br>
    </div>

    <div class="flex-container">
        {% for dudu in getdudu %}
            <div class="card">
                <h5>dari : {{dudu.dari}}</h5>
                <h5>untuk : {{dudu.untuk}}</h5>
                <p>pesan : <br> {{dudu.pesan}}</p>
            </div>
        {% endfor %}
    </div>
    
    <div class="row">
        <br><br><br>
    </div>

</div>

{% endblock content %}
