body.register{
    background-color: #E3FDFD;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
/* HALAMAN REGISTER */
/* Khusus Text Light */
#normal{
    font-weight: normal;
}
#light{
    font-weight: lighter;
}
/* Khusus Text Bold */
#bold{
    font-weight: bolder;
}
/* Middle part */
.middle{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
/* Kumpulan Card */
#cardcoll{
    justify-content: center;
    align-items: center;
}

/* Form register */
    /* Bagian Card */
    #form{
        background-color: #CBF1F5;
        border-color: #CBF1F5;
        border-radius: 20px;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    /* Judul Card */
    .cardtitle.row{
        margin-left: 0px;
    }
    /* Input Form */
    .inputform{
        padding-right: 20%;
    }
    /* PlaceHolder */
    .form-control{
        font-size: 12px;
    }
    /* Button */
    .btn.btn-primary.intabel{
        background-color: white;
        color: #008289;
        border-color: #CBF1F5;
        border-radius: 15px;
        padding-top: 4px;
        padding-bottom: 4px;
        
        font-size: 12px;
    }
    .btn.btn-primary.intabel:hover{
        opacity: 0.5;
    }
    /* nav-link */
    a.nav-link.already{
        padding-left: 5px !important;
        opacity: 0.5;
    }
    a.nav-link.already:hover{
        background-color: transparent;
        border-radius: 0px;
        opacity: 1;
    }

/* Vektor Belajar */
    /* Ukuran Vektor */
    img#vectorbelajar{
        width: 424.2px;
        height: 481.2px;
    }
    /* Bagian Card */
    #gambar{
        background-color: transparent;
        border-color: transparent;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5%;
        margin-bottom: 5%;
        justify-content: center;
        align-items: center;
    }


/* HALAMAN PROFILE SETTING */
#fotoakun2{
    width: 80px;
    height: 80px;
}

/* Tulisan Profile Setting */
.profilesetting.row.border-bottom{
    margin-top: 50px;
}

/* Bagian Display */
.display.col-4{
    padding-top: 70px;
    text-align: center;
}
    /* Bagian Nama */
    .Nama.col{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* Button */
    .buttons.col{
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 15%;
        padding-right: 15%;
        display: flex;
        flex-direction: column;
    }
    #button11{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #8DC2C8;
        border-radius: 23.5px;
        color: white;
        border-color: transparent;
    }
    #button1{
        margin-top: 10px;
        margin-bottom: 10px;
        background-color: #BDE0E2;
        border-radius: 23.5px;
        color: white;
        border-color: transparent;
    }
    #button:hover{
        opacity: 0.5;
    }
    /* About Me */
    .aboutme.col{
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 5%;
        padding-right: 5%;
    }
    .aboutme#normal{
        color: #A6E3E9;
        text-align: center;
    }
    .contact.col{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
    }

/* Form */
.change.col-7{
    padding-top: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
}
h5.change{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 500;
    margin-left: 5%;
}

    /* ACCOUNT INFORMATION */
    .formaccount.col{
        margin-left: 10%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .formaccount.row{
        padding-right: 15%;
        padding-left: 30%;
    }
        /* Label */
        .formlabel{
            margin-right: 10%;
        }
        /* Form */
        .form.col{
            text-align: right;
        }
    /* Button */
    .buttonsave.col{
        text-align: right;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    #button2{
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
        margin-right: 5px;
        background-color: #BDE0E2;
        border-radius: 23.5px;
        color: white;
        border-color: transparent;
    }
    #button2:hover{
        opacity: 0.5;
    }
    #button3{
        padding-left: 37px;
        padding-right: 37px;
        margin-left: 5px;
        margin-right: 5px;
        background-color: #8DC2C8;
        border-radius: 23.5px;
        color: white;
        border-color: transparent;
    }
    #button3:hover{
        opacity: 0.5;
    }
@media only screen and (max-width: 990px) {
    #cardcoll{
        flex-direction: column;
    }

    #form{
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: -82px;
        margin-right: -82px;
    }

    #gambar{
        margin-top: 5px;
        margin-bottom: 10px;
        margin-left: -82px;
        margin-right: -82px;
    }
    
    /* ACCOUNT INFORMATION */
    
}

@media only screen and (max-width: 576px) {
    #cardcoll{
        flex-direction: column;
    }

    #form{
        margin-left: 10%;
        margin-right: 10%;
    }

    #gambar{
        margin-left: 10%;
        margin-right: 10%;
    }
    
}