
nav.navbar{
    background-color:  #F4FFFF !important; 
}
body{
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#jumbotron{
    background-color: #F4FFFF;
}
#ask{
    background-color: transparent;
    border-color: transparent;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
}


#asetToga{
    background-color: transparent;
    border-color: transparent;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 15%;
    margin-bottom: 15%;
}

#buttonask{
    width: 346.88px;
    height: 32.64px;
    margin-top: 80px;
}
#buttonask:hover{
    opacity: 0.5;
}

#aset{
    width: 451.8px;
    height: 312px;
}

h1.ask{
    font-weight: 600;
    font-size: 60px;
}

p.ask{
    font-weight: lighter;
    font-size: 18px;
}

.tombol.row{
    display: flex;
    flex-direction: row;
}

.btn.btn-primary.intabel.ask{
    background-color: #A6E3E9;
    width: 102px;
    height: 30.6px;
    border-radius: 25.5px;
    border-color: transparent;
    color: black;
    margin-top: 80px;
}

.btn.btn-primary.intabel.ask:hover{
    opacity: 0.5;
}
/* .card.offering{
    background-color: white;
    border-color: transparent;
    margin-left: -100px;
    text-align: center;
    width: 322px;
    height: 217px;
}



.row.offering{
    margin-left: 20px;
    margin-right: 20px;
} */

#offering{
    width: 1265px;
    height: 476.1px;
}

#aboutbraincil{
    background-color: #B5E4E8 ;
}

#logobesar2{
    width: 120px;
    height: 115.2px;
    margin-bottom: 10px;
}
.about.row{
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

p.about{
    font-weight: lighter;
    margin-left: 100px;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 40px;
}

.why.row{
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: -20px;
}


#said{
    width: 1265px;
    height: 1099px;
}

.register-section {
    align-items: center;
    justify-content: center;
    display: flex;
}

#button-register {
    background-color: #C2F1F5;
    color: white;
    font-size: 50px;
    width: 33vw;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    margin: 50px;
}

#ask-button {
    justify-content: center;
    align-items: center;
    display: flex;
}
